:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --container-padding: 180px 150px;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
nav{
    padding: 20px 150px !important;
    z-index: 100;
}
ul li a{
    font-weight: 500 !important;
    font-size: 18px;
}
#requestInvite{
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    font-size: 18px;
    font-weight: 400;
    width: 162px;
}
.hamburger{
    display: none;
}
.landing{
    padding: var(--container-padding);
}
.landing .left-side{
    width: 35%;
    display: inline-block;
}
.landing .left-side p{
    font-size: 18px;
    font-weight: 400px;
    margin: 30px 0;
}
.landing #title{
    font-size: 60px;
    color: var(--Dark-Blue);
}
.right-side{
    width: 50%;
}

.right-side img{
    position: absolute;
    right: -20%;
    top: -20%;
    z-index: -12;
    
}
.right-side img.intro{
    width: 100%;
    right: -20%;
    top: -20%;
}
#bg, #mbMockups{
    display: none;
}
.right-side img#mockups{
    width: 50%;
    right: 0;
    top: 0;
    z-index: 12;
}
.features-section{
    width: 100%;
    margin-top: 60px;
    padding: var(--container-padding);
    background-color: rgb(244, 245, 247);
}
.features-section .title{
    font-size: 40px;
    color: var(--Dark-Blue);
}
.features{
    margin-top: 100px;
}
.features-section .feature{
    margin: 0 20px;
}
.features-section p{
    font-size: 18px;
    font-weight: 400px;
}
.feature-title{
    font-size: 30px;
    color: var(--Dark-Blue);
    margin: 30px 0;
}
.articles-section{
    width: 100%;
    margin-top: 30px;
    padding: var(--container-padding);
}
.articles-section .title{
    font-size: 40px;
    color: var(--Dark-Blue);
    margin-bottom: 100px;
}
.articles{
    margin-top: 100px;
}
.articles-section .article{
    margin: 0 20px;
}
.articles-section p{
    font-size: 18px;
    font-weight: 400px;
}
.articles-section .article-title{
    font-size: 30px;
    color: var(--Dark-Blue);
    margin: 30px 0;
}
.articles-group{
    width: 100%;
}
.card{
    width: 23%;
    border-radius: 10px !important;
}
.card-img-top{
    border-radius: 10px 10px 0 0 !important;
    height: 280px;
}
.btn:active{
    background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.8), hsla(192, 70%, 51%,0.8)) !important;
}
.card:active .card-title{
    color: var(--Bright-Cyan);
}
footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background-color: var(--Dark-Blue);
    color: white;
    padding: 50px 150px;
}
footer .lts{
    width: 60%;
}
footer .rts{
    height: 120%;
}
footer ul{
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
footer ul li{
    font-size: 14px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300 !important;
}
@media screen and (max-width: 1200px) {
    body{
        display: flex;
        flex-direction: column;
    }
    nav ul,nav #requestInvite,img#mockups,img#intro{
        display: none !important;
    }
    .hamburger{
        display: block !important;
        width: 30px;
    }
    nav{
        padding: 20px !important;
    }
    .landing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100% ;
        margin-top: 380px;

    }
    .right-side{
        width: 100%;
    }
    .left-side{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    .left-side #title{
        display: block;
        font-size: 40px !important;
        text-align: center;
        width: 100% !important;
    }
    .left-side p{
        text-align: center;
    }
    #bg{
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    #mbMockups{
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .features-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 80px 20px;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        text-align: center;
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .features-section .title,.features-section p{
        text-align: center;
    }
    .articles-section{
        display: flex;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }
    .articles-section .title{
        text-align: center;
    }
    .articles-section .card-group{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card{
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    footer .lts{
        display: ;
        flex-direction: column;
        padding: 20px;
    }
}